<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813406690578-eaofqd8ed5i5foggnt19ovck5ljecuv9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813406690578-eaofqd8ed5i5foggnt19ovck5ljecuv9</string>
	<key>API_KEY</key>
	<string>AIzaSyAt1XBzV69kynftLNf-Vo31y-qq1Ha4hNY</string>
	<key>GCM_SENDER_ID</key>
	<string>813406690578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xdrdev.XdrSubscript</string>
	<key>PROJECT_ID</key>
	<string>subscriptxdr</string>
	<key>STORAGE_BUCKET</key>
	<string>subscriptxdr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813406690578:ios:ab58eba55d8b08eba027cb</string>
</dict>
</plist>